<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="js/client.js"></script>
</head>
<body>

<h1 id="title">Address Books</h1>
<h3></h3>
<section>
    <table border="1">
        <thead>
        <tr>
            <td>Book Id</td>
            <td>Buddy Id</td>
            <td>Buddy Name</td>
            <td>Buddy Phone Number</td>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</section>
<br>
<br>
<a href="/view-books">Click here to submit more buddies</a>
</body>
</html>